/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(77, 79, 47); /* Adjusted border to be visible */
    background-color: beige;
    
}

/* Fieldset Styles */
fieldset {
    margin: 10px;
    width: 62%;
    padding: 10px; /* Added padding for better spacing */
    border-radius: 5px; /* Optional: Added border-radius for rounded corners */
}

/* Input Field Styles */
input {
    text-align: center;
    padding: 5px;
    display: inline-block;
    margin: 4px;
    color: white;
    background-color: darkgreen;
    width: 33%;
    cursor: pointer;
    border: none; /* Optional: Remove border */
    border-radius: 4px; /* Optional: Rounded corners */
}

/* Hover Styles for Submit Button */
input[type="submit"]:hover {
    background-color: lime;
    border: none;
    border-radius: 40px; /* Rounded corners */
    cursor: pointer;
}

/* Input Styles for Radio Buttons */
input[type="radio"] {
    width: 10%; /* Adjusted the width */
    margin-right: 10px; /* Optional: Added margin for spacing */
}

/* Select Element Styles */
select {
    width: 50%;
    padding: 10px 15px;
    border: 1px dashed blue;
    border-radius: 4px; /* Rounded corners */
    background-color: orange;
}
