
.details{
    margin: 25px 0px 0px; 
    color: blue;
    object-fit: cover;
    background-color: beige;
}
.childbox{
    background: none;
    color:black;
    margin: 25px 0px 0px;  
    border: 10px solid #000 !important;
    box-sizing: border-box;
    background-color: orange;
}
